/* import font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
}

#copyright {
    border-top: 1px solid #ccc;
}

.html-widget.gauge {
    height: 320px;
    /*or try sth like 320px instead of 100%, whatever you prefer*/
}

.html-widget.gauge svg {
    height: 320px;
    /*or try sth like 320px instead of 100%, whatever you prefer*/
    margin-top: -10px;
    margin-bottom: -40px;
}